.modal {
  position: fixed;
  inset: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal__open {
  visibility: visible;
}
.modal__title {
  margin: 0 0 20px;
}
.modal__close {
  position: absolute;
  top: 18px;
  right: 18px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.modal__content {
  position: relative;
  background-color: #fff;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border: 1px;
  border-radius: 20px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal__label {
  display: block;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #000000de;
  margin: 0 0 20px;
}
.modal__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #0000004d;
  outline: none;
  box-sizing: border-box;
}
.modal__input::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #00000080;
}
.modal__fieldset {
  margin: 0 0 20px;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.modal__legend {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #000000;
  margin: 0 0 20px;
}
.modal__label_type_radio {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #00000080;
  margin: 0 0 20px;
}
.modal__radio-input {
  height: 16px;
  width: 16px;
  border: 1px solid #00000080;
  border-radius: 50%;

  margin-right: 8px;
  cursor: pointer;
}
.modal__radio-input:checked {
  accent-color: #000;
}

.modal__radio-input:checked + span {
  color: #000;
}
.modal__submit{
  width: 124px;
  height: 36px;
  color: #fff;
  padding: 8px 16px;
  background-color: #0000004D;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;

}
@media screen and (max-width: 768px) {
  .modal__with-form {
    position: absolute;
    inset: 0;
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* push to bottom */
    padding-bottom: env(safe-area-inset-bottom, 20px);


  }

  .modal__with-form .modal__content {
    width: calc(100% - 40px);
    max-width: 496px;
    border-radius: 20px 20px 0 0;
     max-height: 90vh;       
    overflow-y: auto;      
    padding-bottom: 32px;
  }

}
