.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
}
.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
