
main {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  justify-content: center;
  gap: 40px 20px;
}
.cards__text{
  font-size: 20px;
  line-height: 100%;
  margin: 20px 0;
  padding-right:  20px;
}

@media (min-width: 628px) and (max-width: 764px) {
  .cards {
    padding-left: 0;
    padding-right: 0;
  }
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 627px) {
  .cards {
    padding-left: 0;
    padding-right: 0;
  }
  .cards__list {
    grid-template-columns: repeat(auto-fit, 164px);
  }
}
@media screen and (max-width: 320px) {
  .cards__list {
    padding: 0 16px;
    gap: 20px;
  }
}
