.mobile-overlay {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px); /* matches page content width */
  max-width: 1360px;
  height: 190px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  pointer-events: auto;

}
.mobile-overlay__inner {
   width: 100%;
  height: 100%;
  padding: 0 20px; /* same as main/header */
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
  box-sizing: border-box;
  position: relative; 
}

.mobile-overlay__close {
  position: absolute;
  top: 11px;
  right: 11px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  z-index: 2000;
}

.mobile-overlay__close img {
  width: 21.21px;
  height: 21.21px;
  display: block;
}

.mobile-overlay__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 60px;
}

.mobile-overlay__user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.mobile-overlay__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobile-overlay__add {
  font-size: 20px;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "cabinetGrotesk";
}
@media (max-width: 768px) {
  .mobile-overlay {
    width: calc(100% - 40px); 
    left: 50%;
    transform: translateX(-50%);
  }

  .mobile-overlay__inner {
    padding: 0 20px; 
  }
}
